.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 5vw;
  min-width: 90%;

  &__header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

    &__image {
      border-radius: 50%;
      max-width: 12rem !important; //overriding bootstrap img-fluid
      box-shadow: 11px 11px 22px var(--neutral85),
      -11px -11px 22px var(--neutral100);

      &:hover {
        animation: hue-rotate 1s linear infinite;
      }
    }

    &__nameParagraph {
      font-weight: 900;
      font-size: 0.8em;
      margin-left: 1em;
      text-align: center;

      &__name {
        font-weight: 500;
        font-size: 1.4em;
        margin-right: 1rem;
      }

      &__location {
        display: inline-block;
      }
    }

    &__catchphrase {
      position: relative;
      display: inline-block;
      font-size: 3.2em;
      margin: 6vh 0;
      font-weight: 900;
      text-align: center;
      color: var(--neutral95);
      padding: 0.4em 0.7em;
      background-color: var(--color50);
      border-radius: 140px 12px;
      box-shadow: 5px 5px 10px var(--neutral85),
      -5px -5px 10px var(--neutral100);
    }

    &__intro {
      margin: 2vh 0;
      font-weight: 300;
      line-height: 2em;
      width: 80%;
    }
  }
}

@keyframes hue-rotate {

  from {
    filter: hue-rotate(0);
  }
  to {
    filter: hue-rotate(360deg);
  }
}