.skills {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5vh 5vw;
  background-color: var(--color50);
  color: var(--neutral100);
  box-shadow: 5px 5px 10px var(--neutral85),
  -5px -5px 10px var(--neutralMax);;

  &__title {
    margin: 0 auto 1em auto;
  }

  &__technical {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 1.5vh 0;
    flex-wrap: wrap;

    &__title {
      margin: 1.2em 3em 1.2em 0;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      &__item {
        margin: 0 0.5em;
      }
    }
  }

  &__language {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 1.5vh 0;
    flex-wrap: wrap;

    &__title {
      margin: 1.2em 3em 1.2em 0;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 50vmax;

      &__item {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: var(--neutral100);
        padding-left: 0.35em;
        margin: 0.4em;
        border-radius: 5px;
        color: var(--color50);
        box-shadow: 6px 6px 12px var(--color45),
        -6px -6px 12px var(--color55);

        &__name {
          padding: 0 0.5em;
          font-size: 0.9em;
        }

        &__level {
          background-color: var(--contrast35);
          color: var(--neutral100);
          font-size: 0.9em;
          padding: 0.35em;
          z-index: 1;
          border-radius: 0 5px 5px 0;
        }
      }
    }
  }

  &__misc {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 1.5vh 0;

    &__title {
      margin: 1.2em 3em 1.2em 0;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      &__item {
        margin: 0 1em;
      }
    }
  }
}