.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 5vw;
  min-width: 90%;

  &__title {
    margin-bottom: 1em;
  }

  &__cardDeck {
    justify-content: center;

    &__card {
      min-width: 15rem;
      margin-top: 1em;
      box-shadow: 5px 5px 10px var(--neutral85),
      -5px -5px 10px var(--neutralMax);

      &__header {
        border-bottom: none !important;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
      }
    }

    &__card__tabs__pills {
      margin: 0 0.3em;
      color: var(--color50);
      background-color: var(--neutral100) !important; //overriding bootstrap default
    }

    &__card__tabs__nav {
      justify-content: center;

      &__item {
        margin: 1em 0;

        &__link {
          color: var(--neutral100) !important; //overriding bootstrap default
          margin: 0.15em 0.25em;
        }

        &__link[aria-selected="false"] {
          background-color: var(--color50);
          border-radius: 5px;
          box-shadow: 6px 6px 12px var(--color45),
          -6px -6px 12px var(--color55);

          &:hover {
            background-color: var(--color45);
          }
        }

        &__link[aria-selected="true"] {
          cursor: default;
          background-color: var(--contrast40) !important; //overriding bootstrap default
          box-shadow: inset 4px 4px 9px var(--contrast30),
           inset -4px -4px 9px var(--contrast45);
        }
      }
    }
  }
}